html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

footer {
  padding: 1em;
}

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

@media screen and (min-width: 400px) {
  nav {
    background-color: darkgrey;
    width: 100%;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: center;

      @include for-size(phone-only) {
        display: flex;
        flex-direction: column;
      }
    }

    ul li a {
      display: block;
      border: 1px solid;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      margin: 0.5em;
    }
  }
}

/* link stylings */
a {
  text-decoration: none;
  padding-bottom: 0.2em;
}

a:active {
  color: white;
}
a:hover {
  color: red;
}

.section_class {
  float: center;
  @include for-size(phone-only) {
    width: 100%;
  }
}

img[src*="clova100"] {
  margin-left: 10px;
  -webkit-shape-outside: circle(125px);
  shape-outside: circle(125px);
}

p img {
  float: left;
  margin: 0 1em 1em 0;
}

header {
  //height: 20em;
  background-position: center top;
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-size-adjust: center top;
  font-size: large;
}

body {
  background-position: center 100px;
  //margin: 0 10%;
  font-family: Verdana, sans-serif;
  font-size: 100%;
  background-color: black;
  color: whitesmoke;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-family: "Marko One", Georgia, serif;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 30px;
  color: lightgrey;
}
h2 {
  font-size: 1.2em;
  color: #cc6600;
}

h3 {
  border-top: 1px solid;
  border-left: 3px solid;
  padding-left: 1em;
  font-size: 1em;
  margin-top: 2.5em;
}

dt strong {
  color: tomato;
}

#info {
  color: teal;
  p {
    font-style: italic;
  }
}

.location {
  font-family: Georgia, serif;
  font-style: italic;
  color: gray;
}

.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

.warning {
  font-size: small;
  color: red;
}

#flexbox {
  border: 3px solid #783f27;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
}

section {
  display: flex;
  flex-direction: column;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  td,
  th {
    border: 1px solid black;
  }
}

.title {
  background-color: darkgrey;
  color: white;
  line-height: 4em;
}

.staff {
  background-color: black;
  color: #f9ab33;
}

.f_text {
  color: #d1633c;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
}

.staff_name {
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  text-transform: uppercase;
}

.photo {
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
}

.staff_job {
  color: white;
  text-align: center;
  font-family: serif;
  font-weight: normal;
  font-size: small;
  text-transform: uppercase;
  line-height: 0;
}

.bigsec {
  padding: 1em;
  border: double 4px #eaddc4;
  border-radius: 25px;
  margin: 10px;
  @include for-size(phone-only) {
  }
}

.forms {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */

.row {
  content: "";
  display: table;
  clear: both;
  @include for-size(phone-only) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
