@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 640px) {
      @content;
    }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  color: white;
  background-color: black;
  margin: 0, 10%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include for-size(desktop-up) {
    width: 1200px;
    margin: 0 auto;
  }
}

footer {
  color: grey;
  height: 50px;
  margin-top: auto;
}

h1 {
  color: whitesmoke;
  font-size: 3em;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 30px;
}

h2 {
  font-size: 1.25em;
}

h3 {
  border-top: 1px solid;
  border-left: 3px solid;
  padding-left: 1em;
  font-size: 1em;
  margin-top: 2.5em;
}

ul {
  list-style-type: none;
}

p {
  text-align: left;
}

.filep {
  text-indent: 5rem;
}

.initpage {
  text-align: center;
}

.initlink {
  text-align: center;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  padding-bottom: 0.2em;
}

a:link {
  color: lightgrey;
}
a:visited {
  color: lightgrey;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

.activepage {
  background-color: blue;
  color: white;
}

nav {
  background-color: #5a5a5a;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;

    @include for-size(phone-only) {
      display: flex;
      flex-direction: column;
    }
  }

  ul li a {
    display: block;
    padding: 0.5em 1em;
  }
}

.bannericon {
  float: left;
  align-items: center;
}

.bannertext {
  text-align: left;
  font-size: 1.25em;
}

#flexbox {
  border: 3px solid grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5px;
}

.criminal {
  background-color: #1f2022;
}

.criminal_name {
  color: white;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.photo {
  margin: 0 auto;
  padding: 0.5rem 0.5rem;
  img:hover {
    box-shadow: 0 0 2px 1px;
  }
}

.filereport {
  float: left;
  padding: 1rem;
}

.reportstamp {
  float: right;
  padding: 1rem;
}

.centertext {
  text-align: center;
}

.crimeheader {
  flex-direction: column;
  border-bottom: white;
  border-style: solid;
}

.crimestats {
  @include for-size(phone-only) {
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
  }
}

.status {
  padding: 1rem;
}

.column {
  text-align: center;
  float: left;
  width: 33.33%;
  padding: 10px;
  @include for-size(phone-only) {
    width: 100%;
  }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

time,
em,
q {
  color: red;
}

.crim_quote {
  text-align: center;
  font-size: 1.25em;
}

.forms {
  padding: 0;
  margin: 0;
}

.responsive {
  float: none;
  width: 100%;
  max-width: 700px;
  height: auto;
}

.catchwc {
  display: inline-block;
  width: 100%;
}

.databaseh {
  color: red;
}

iframe {
  float: none;
  width: 100%;
  height: 315px;
  max-width: 560px;
}
